@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    height: 100%;
}

main {
    flex: 1;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff; 
}

.header-container {
    background-color: #000000; 
    color: #ffffff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-container .logo {
    display: flex;
    align-items: center; 
}

.header-container .logo img {
    width: 60px;
    margin-right: 20px;
}

.header-container h1 {
    margin: 0px; 
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.header-container nav ul {
    list-style: none;
    padding: 0;
}

.header-container nav ul li {
    display: inline;
    margin: 0 15px;
}

.header-container nav ul li a {
    color: #ffffff;
    text-decoration: none;
}

.hero-panel {
    background-color: #e9ee02;
    padding: 50px 0;
    text-align: center;
}

.hero-panel h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.hero-action {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
}

.hero-action button {
    background-color: #000000;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.hero-action button:hover {
    background-color: #333333;
}

.gallery {
    padding: 20px;
    text-align: center;
}

.gallery h2 {
    margin-bottom: 20px;
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Cuadrícula responsiva */
    gap: 15px; /* Espacio entre los elementos de la cuadrícula */
}

.gallery-item {
    position: relative; /* Para posicionar el caption sobre la imagen */
    overflow: hidden; /* Para ocultar el contenido que sobresale */
    border-radius: 5px; /* Bordes redondeados */
}

.gallery-item img {
    width: 100%; /* Imagen ocupa el 100% del ancho del contenedor */
    height: auto; /* Mantener la proporción de la imagen */
    transition: transform 0.3s ease; /* Efecto de zoom al pasar el mouse */
}

.gallery-item:hover img {
    transform: scale(1.05); /* Efecto de zoom */
}

.gallery-caption {
    position: absolute; /* Posicionar el caption sobre la imagen */
    bottom: 0; /* Alinear al fondo */
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7); /* Fondo semi-transparente */
    color: #ffffff; /* Color del texto */
    padding: 10px; /* Espaciado interno */
    text-align: left; /* Alinear texto a la izquierda */
}

.gallery-caption h3 {
    margin: 0; /* Sin margen para el título */
    font-size: 1.1rem; /* Tamaño de fuente para el título */
}

.gallery-caption p {
    margin: 5px 0 0; /* Margen para el comentario */
    font-size: 0.9rem; /* Tamaño de fuente para el comentario */
}


.brands {
    text-align: center;
    padding: 10px;
}

.brands-list img {
    width: 100px;
    margin: 10px;
}

footer {
    background-color: #000000;
    color: #ffffff; 
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-icons {
    color: #f7f7f7; 
    margin-right: 20px;
    text-decoration: none;
    font-size: 1.1rem;
    display: flex;
    gap: 15px;
}

.social-icons a {
    color: #e9ee02;
    text-decoration: none;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: #ffffff;
}

@media (max-width: 768px) {
    .header-container {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    .header-container .logo img {
        width: 40px;
    }

    .header-container h1 {
        font-size: 1rem;
    }

    .header-container {
        flex-direction: column;
        align-items: center;
    }

    .header-container nav ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-size: 0.8rem;
    }
}