@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    height: 100%;
}

main {
    flex: 1;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff; 
}

.header-container {
    background-color: #000000; 
    color: #ffffff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-container .logo {
    display: flex;
    align-items: center; 
}

.header-container .logo img {
    width: 60px;
    margin-right: 20px;
}

.header-container h1 {
    margin: 0px; 
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.header-container nav ul {
    list-style: none;
    padding: 0;
}

.header-container nav ul li {
    display: inline;
    margin: 0 15px;
}

.header-container nav ul li a {
    color: #ffffff;
    text-decoration: none;
}

.hero-panel {
    background-color: #e9ee02;
    padding: 50px 0;
    text-align: center;
}

.hero-panel h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.hero-action {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
}

.hero-action button {
    background-color: #000000;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.hero-action button:hover {
    background-color: #333333;
}

.card-holder {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: #f0f0f0;
}

.card {
    background-color: #000000;
    color: #ffffff;
    border-radius: 8px;
    padding: 20px;
    width: 30%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.card h3 {
    margin: 0 0 10px;
}

.card p {
    margin: 0 0 20px;
}

.card img {
    width: 70%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 15px;
}

.card button {
    background-color: #e9ee02;
    color: #000000;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.card button:hover {
    background-color: #d1d600;
}

.about, .services {
    padding: 20px;
    text-align: center;
}

.about-cards {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.acard {
    color: #000000;
    border-radius: 6px;
    padding: 20px;
    width: 50%;
    text-align: center;
}

.acard i{
    font-size: 2rem;
    margin-bottom: 10px;
}

.service-card {
    background-color: #000000;
    color: #ffffff;
    margin: 10px;
    padding: 15px;
    border-radius: 5px;
}

.service-card button {
    background-color: #e9ee02;
    color: #000000;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.service-card button:hover {
    background-color: #d1d600;
}

.brands {
    text-align: center;
    padding: 10px;
}

.brands-list img {
    width: 100px;
    margin: 10px;
}

footer {
    background-color: #000000;
    color: #ffffff; 
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-icons {
    color: #f7f7f7; 
    margin-right: 20px;
    text-decoration: none;
    font-size: 1.1rem;
    display: flex;
    gap: 15px;
}

.social-icons a {
    color: #e9ee02;
    text-decoration: none;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: #ffffff;
}

@media (max-width: 768px) {
    .header-container {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    .header-container .logo img {
        width: 40px;
    }

    .header-container h1 {
        font-size: 1rem;
    }

    .header-container {
        flex-direction: column;
        align-items: center;
    }

    .header-container nav ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-size: 0.8rem;
    }

    .about-cards {
        flex-direction: column;
        align-items: center;
    }
    .acard {
        width: 80%;
        margin-bottom: 20px;
    }
    .card-holder {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 90%;
        margin-bottom: 20px;
    }
}
.carusel {
    display: flex;
    position: relative;
    overflow: hidden;
    background: transparent; 
}

.carusel .carusel-track{
    display:flex;
    flex-direction: row;
    flex-grow: 1;
    transition: transform 0.7s ease-in-out;
}

.carusel .carusel-track .carusel-slide {
    flex-grow: 0;
    flex-shrink: 0;
    position: relative;
    width: 100vw;
    height: 480px;  
    display: flex;  
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}


.carusel .carusel-track .carusel-slide img{
    width:100%;
    height:100%;
    object-fit: cover;
}

.carusel .carusel-track .carusel-slide .carusel-action {
    padding: 1rem;
    border-radius: 9px;
    background-color: #aaa; 
    position: absolute;
    width: 380px;
    height: 280px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;      
    justify-content: center;     
    align-items: center;         
    text-align: center;
    gap: 10px;                   
}
.carusel .carusel-track .carusel-slide .carusel-action h2 {
    margin: 0;
    font-size: 1.5rem;
    font-weight: bold;
}
.carusel .carusel-track .carusel-slide .carusel-action img {
    max-width: 220px;
    max-height: 220px;
    object-fit: contain;
}
.carusel .carusel-btn-pre, .carusel .carusel-btn-nxt {
    position: absolute;
    top:50%;
    width: 4rem;
    height: 6rem;
    transform: translateY(-50%);
    font-size: 3rem;
    font-weight: bold;
    padding: 1rem 0.8rem;
    background-color: rgba(255,255,255,0.7);
    text-align: center;
    cursor: pointer;
}
.carusel .carusel-btn-pre:hover, .carusel .carusel-btn-nxt:hover {
    background-color: rgba(255,255,255,0.9);
}

.carusel .carusel-btn-nxt {
    right:0px;
}

.carusel .carusel-dots {
    position: absolute;
    width:100%;
    display: flex;
    gap:0.5rem;
    justify-content: center;
    align-items: center;
    bottom: 0;
    left: 0;
    padding:0.25rem;
}

.carusel .carusel-dots .carusel-dot {
    width:16px;
    height: 16px;
    background-color: #000;
    border-radius: 50%;
}
.carusel .carusel-dots .carusel-dot.active {
    background-color: #fff; /* O el color que desees */
    border: 2px solid #000; /* Para dar contraste */
}



@media (min-width:720px) {
    .carusel .carusel-track .carusel-slide{
        height: 680px;
    }
}

@media (min-width:1025px) {
    .carusel .carusel-track .carusel-slide{
        height: 720px;
    }
}